.order-main {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #415D8D;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
    .order-main__prices {
        padding: 40px 135px 40px 80px;
        .order-main__price {
            margin-bottom: 35px;
            &:last-child {
                margin-bottom: 0;
            }
            .order-main__price__food {
                color: #FFF;
                font-family: "Montserrat";
                font-size: 22px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .order-main__price__food__index {
                    background-color: #FFC21F;
                    color: #323232;
                    padding: 10px;
                    border-radius: 20px;
                    margin-right: 15px;
                    min-width: 165px;
                    text-align: center;
                    cursor: pointer;
                }
                .order-main__price__food__name {
                    flex: 1;
                    &.total {
                        padding-left: 180px;
                    }
                }
                .order-main__price__food__price {
                    width: 50px;
                }
            }
            .order-main__price__topings {
                color: #FFF;
                font-family: "Montserrat";
                font-size: 15px;
                padding-left: 210px;
                .order-main__price__toping {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
    .order-main__total {
        background-color: #395380;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}



@media screen and (max-width: 768px) {
    .order-main {
        .order-main__prices {
            padding: 40px 50px 40px 30px;
        }
    }
}
