.main-order {
    margin-top: -155px;
    .main-order__pay-now {
        width: 100%;
        padding: 28px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Montserrat";
        font-size: 24px;
        color: #323232;
        background-color: #1FFF8E;
        box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        cursor: pointer;
        span {
            margin-left: 20px;
        }
    }
    .main-order__button {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background-color: #FFC21F;
        box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
        font-family: "Montserrat";
        font-size: 24px;
        color: #323232;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 80px;
    }
}

@media screen and (max-width: 992px) {
    .main-order {
        margin-top: -155px;
        .main-order__pay-now {
            margin-top: 10px;
        }
        .main-order__button {
           margin-bottom: 10px;
        }
    }
}
