.main {
    position: fixed;
    padding-top: 226px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .main__complete-order {
        position: fixed;
        top: 25px;
        right: 0;
        background-color: #1FFF8E;
        box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
        padding: 27px 33px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-decoration: none;
        font-size: 24px;
        color: #323232;
        font-family: "Montserrat";
        z-index: 11;
    }
}