.menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .menu__item-wrp {
        width: 33.33%;
        margin-bottom: 135px;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 993px) {
    .menu {
        .menu__item-wrp {
            width: 50%;
            margin-bottom: 120px;
            padding: 0 20px;        
        }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .menu__item-wrp {
            width: 100%;
            padding: 0;        
        }
    }
}