.food__topings-wrp {
    .food__topings {
        background-color: #415D8D;
        box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        padding: 40px;
    }
    .food__topings__required {
        .food__topings__required__next {
            background-color: #10D9C4;
            box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
            height: 78px;
            width: 200px;
            border-radius: 10px;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 24px;
            position: absolute;
            top: -39px;
            right: -20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;
            cursor: pointer;
        }
    }
    .food__topings__optional {
        .food__topings__optional__check-out {
            background-color: #1FFF8E;
            box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
            position: fixed;
            top: 25px;
            right: 0;
            height: 78px;
            width: 260px;
            display: flex;
            justify-content: flex-start;
            align-items: center; 
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 24px;
            color: #323232;
            padding-left: 30px;
            cursor: pointer;
            i {
                margin-right: 20px;
            }
        }
        .food__topings__optional__order {
            background-color: #1FFF8E;
            box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
            height: 78px;
            width: 245px;
            color: #323232;
            border-radius: 10px;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 24px;
            position: absolute;
            top: -39px;
            right: -20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        } 
    }
}

.checkbox-group {
    padding-bottom: 25px;
    .checkbox-group__title {
        font-family: "Montserrat";
        font-size: 20px;
        color: #A8BADA;
        padding-bottom: 18px;
        font-weight: 500;
    }
    .checkbox-group__checkboxes {
        padding-left: 15px;
    }
}


@media screen and (max-width: 992px) {
    .food__topings-wrp {
        .food__topings {
            margin-top: 100px;
        }
    }
}

@media screen and (max-width: 768px) {
    .food__topings-wrp {
        .food__topings__optional {
            .food__topings__optional__check-out {
                top: 115px;
            }
        }
    }
}

