.food__info {
    background-color: #109ED9;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
    padding: 180px 24px 60px 24px;
    border-radius: 10px;
    color: #FFF;
    font-family: "Montserrat";
    .food__info__img {
        width: 210px;
        position: absolute;
        top: -55px;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .food__info__name {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .food__info__description {
        font-size: 17px;
        line-height: 25px;
    }
}