.food__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .food__checkbox__main {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .food__checkbox__mark {
            font-size: 30px;
            line-height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #1A3051;
            .checked-icon {
                color: #1FFF8E;
            }
        }
        .food__checkbox__label {
            margin-left: 15px;
            font-family: "Montserrat";
            font-size: 20px;
            color: #FFF;
            font-weight: 500;
        }
    }
    .food__checkbox__change-count {
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 20px;
        font-family: "Montserrat";
        &.food__checkbox__change-count--active {
            .food__checkbox__change-count__plus {
                background-color: #77DDFF;
            }
            .food__checkbox__change-count__minus {
                background-color: #77DDFF;
            }
            .food__checkbox__change-count__num {
                background-color: #77DDFF;
            }
        }
        @mixin food__checkbox__change-count__btn {
            font-size: 16px;
            line-height: 16px;
            padding: 5px 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #415D8D;
            background-color: #DDDDDD;
            cursor: pointer;
        } 
        .food__checkbox__change-count__plus {
            @include food__checkbox__change-count__btn;
            border-radius: 14px 0 0 14px;
        }
        .food__checkbox__change-count__minus {
            @include food__checkbox__change-count__btn;
            border-radius: 0 14px 14px 0;
            margin-left: 3px;
        }
        .food__checkbox__change-count__num {
            background-color: #DDDDDD;
            font-size: 34px;
            line-height: 30px;
            margin-left: 15px;
            color: #415D8D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 36px;
            min-width: 36px;
            box-sizing: border-box;
        }
    }   
}