.main-foods {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .main-foods__item {
        width: 33.33%;
        margin-bottom: 135px;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 992px) {
    .main-foods {
        .main-foods__item {
            width: 50%;
            margin-bottom: 120px;
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-foods {
        .main-foods__item {
            width: 100%;
            padding: 0;
        }
    }
}