.main-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .main-header__item {
        display: block;
        border-radius: 10px;
        padding: 20px 20px;
        background-color: #109ED9;
        box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.25);
        text-decoration: none;
        font-size: 24px;
        color: #FFF;
        font-family: "Montserrat";
        font-weight: 400;
        margin-left: 14px;
        position: relative;
        &:first-child {
            i {
                display: none;
            }
        }
        i {
            position: absolute;
            top: 50%;
            left: -21px;
            transform: translateY(-50%);
            font-size: 20px;
            color: #77D7FF;
            z-index: 100;
        }
    }
}