.menu__item {
    height: 225px;
    background-color: #109ED9;
    box-shadow: -4px 8px 16px 0 rgba(0, 0, 0, 0.25);
    border: 8px solid transparent;
    border-radius: 15px;
    min-width: 285px;
    cursor: pointer;
    font-size: 24px;
    .menu__item__link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        color: #FFF;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 25px;
        text-align: center;
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: 400;
    }
    .menu__item__img {
        width: 200px;
        position: absolute;
        bottom: 80px;
        border-radius: 15px;
    }
    .menu__item__star {
        position: absolute;
        top: -115px;
        right: -15px;
    }
    &.is-favorite {
        border: 8px solid #FFDE00;
    }
}

@media screen and (max-width: 768px) {
    .menu__item {

        .menu__item__star {
            right: 100px;
        }
    }
}
